@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.swal2-popup, .swal2-title, .swal2-confirm, .swal2-content {
  font-family: "Inter", sans-serif !important;
}

@media (min-height: 2000px) {
.swal2-popup {
  width: 1600px !important;
  font-size: 48px !important;
  border-radius: 30px !important;
  padding: 80px !important;
}

.swal2-title {
  font-size: 110px !important;
  margin-bottom: 40px !important;
}

.swal2-confirm {
  font-size: 68px !important;
  padding: 30px 80px !important;
  border-radius: 20px !important;
}
}