<div class="ruleta-container">
  <div class="background"></div>
  @if(resultVisible){
    <div class="result-overlay">
      <div class="result-text" [ngClass]="resultAnimClass" [innerHTML]="resultText"></div>
    </div>
  }
  <div class="ruleta-content">
    <img src='cards/logo-suramericanos.svg' alt="Juegos Suramericanos" class="main-logo">
    <h2 class="title-text">Girá la ruleta y descubrí tu país</h2>
    <div id="roulette-container" class="roulette-box"></div>
    <button class="spin-btn" (click)="spin()">GIRAR RULETA</button>
  </div>
</div>
